<template>
  <Head>
    <Title>Passwd - Login</Title>
  </Head>
  <h1 class="title">Log in</h1>
  <hr>
  <div class="form-item">
    <label for="email">
      <icon icon="fa-solid fa-user" />
      Email
    </label>
    <input
      id="email"
      type="text"
      inputmode="email"
      :placeholder='`Example: "user@example.com"`'
      v-model="store.email"
    />
  </div>
  <div class="form-item">
    <label for="password">
      <icon :icon="['fa-solid', showPassword? 'fa-eye' : 'fa-eye-slash']" />
      Password
    </label>
    <input
      id="password"
      :type="showPassword? 'text' : 'password'"
      :placeholder='`Example: "s3cur3_P455w0rd"`'
      @keydown.enter="send"
      v-model="password"
    />
  </div>
  <div class="form-item check">
    <label>
      <input type="checkbox" v-model="showPassword">
      <span>Show password.</span>
    </label>
  </div>
  <div class="form-item x-space">
    <button @click="send" class="button-principal">
      Log in
    </button>
    <NuxtLink class="button button-gray" to="/login/register">Register</NuxtLink>
  </div>
</template>

<script lang="ts" setup>
const router = useRouter();
const store = useUserStore();
const alerts = useAlertStore();
const password = ref<string | null>(null);
const showPassword = ref(false);

watch([password], () => {
  if (password.value == "") {
    password.value = null;
    showPassword.value = false;
  }
})

const send = async () => {
  if (store.email == null || password.value == null) {
    alerts.push({
      color: 'warning',
      title: 'Form Incomplete',
      description: 'Please fill all elements of the form.'
    });
    return;
  }

  showPassword.value = false;
  const credentials = b64.encode(`${store.email}:${password.value}`);

  let {headers, ok} = await fetch(`${endpoint.value}/users/login`, {
    mode: 'cors',
    method: 'POST',
    headers: new Headers({
      'Authorization': `Basic ${credentials}`
    }), 
  });

  if (!ok) {
    store.clear();
    password.value = '';
    alerts.push({
      color: 'danger',
      title: 'Bad Credentials',
    });
    return;
  }

  store.token = headers.get('Set-JWT-Token');
  alerts.push({
    color: 'success',
    title: 'Login Complete',
  });
  await router.push('/');
};
</script>