<template>
    <Head>
        <title>Passwd - Logout</title>
    </Head>
</template>

<script setup lang="ts">
const store = useUserStore();
const alerts = useAlertStore();
const router = useRouter();

onMounted(async () => {
    store.clear();
    alerts.push({
        color: 'success',
        title: 'Logout Complete',
    });
    await router.replace('/login');
})
</script>