<template>

  <Head>
    <Title>Passwd - Register</Title>
  </Head>
  <h1 class="title">Sign Up</h1>
  <hr>
  <div class="form-item">
    <label for="email">
      <icon icon="fa-solid fa-user" />
      Email
    </label>
    <input id="email" type="text" inputmode="email" :placeholder='`Example: "user@example.com"`'
      v-model="store.email" />
  </div>
  <div class="form-item">
    <label for="nick">
      Nickname (Optional)
    </label>
    <input id="nick" type="text" :placeholder='`Example: "MyUser"`' v-model="nick" />
  </div>
  <div class="form-item">
    <label for="password">
      <icon :icon="['fa-solid', showPassword ? 'fa-eye' : 'fa-eye-slash']" />
      Password
    </label>
    <input id="password" :type="showPassword ? 'text' : 'password'" :placeholder='`Example: "s3cur3_P455w0rd"`'
      v-model="password" @keydown.enter="send" />
  </div>
  <div class="form-item">
    <label for="confirm-password">
      <icon :icon="['fa-solid', (password == passwordConfirm && password != '') ? 'fa-check' : 'fa-xmark']" />
      Confirm password
    </label>
    <input id="confirm-password" :type="showPassword ? 'text' : 'password'" :placeholder='`Example: "s3cur3_P455w0rd"`'
      v-model="passwordConfirm" @keydown.enter="send" />
  </div>
  <div class="form-item">
    <label for="key-strength">
      <icon icon="fa-solid fa-vault" />
      Key strength (Default: <code>0</code>)
    </label>
    <input id="key-strength" type="number" inputmode="decimal" v-model="strength" @keydown.enter="send" />
  </div>
  <div class="form-item check">
    <label>
      <input type="checkbox" v-model="showPassword">
      <span>Show password.</span>
    </label>
  </div>
  <div class="form-item x-space">
    <button @click="send" class="button-principal">
      Send
    </button>
    <NuxtLink class="button button-gray" to="/login">Log In</NuxtLink>
  </div>
</template>

<script setup lang="ts">
const store = useUserStore();
const alerts = useAlertStore();
const router = useRouter();

const nick = ref<string | null>(null);
const password = ref<string | null>(null);
const passwordConfirm = ref<string | null>(null);
const strength = ref<number | string>(0);
const showPassword = ref(false);

watch([nick, password, passwordConfirm], () => {
  if (nick.value == '') {
    nick.value = null;
  }

  if (password.value == '') {
    password.value = null;
  }

  if (passwordConfirm.value == '') {
    passwordConfirm.value = null;
  }
});

watch([strength], () => {
  if (typeof strength.value == 'string') {
    if (strength.value.length > 1 || strength.value.startsWith('0')) {
      strength.value = parseInt(strength.value.replace(/^0/, ''));
    }

    if (strength.value == '') {
      strength.value = 0
    }
  }

  if (strength.value < 0) {
    strength.value = 0
  }

  if (strength.value > 5) {
    strength.value = 5
  }

  strength.value = parseInt(`${strength.value}`);
});

const send = async () => {
  if (store.email == null || password.value == null || passwordConfirm.value == null) {
    alerts.push({
      color: 'warning',
      title: 'Form Incomplete',
      description: 'Please fill all elements of the form.'
    });
    return;
  }

  if (password.value != passwordConfirm.value) {
    alerts.push({
      color: 'warning',
      title: 'Form Not Valid',
      description: 'The passwords fields are not equal, check and try again.'
    });
    return;
  }

  let res = await fetch(`${endpoint.value}/users/exists/${store.email}`, {
    mode: 'cors',
    method: 'GET',
  });
  if (res.ok) {
    alerts.push({
      color: 'danger',
      title: 'Form Not Valid',
      description: 'The email already exists.'
    });
    return;
  }

  let id = alerts.push({
    color: 'info',
    title: 'Sending information',
  });
  res = await fetch(`${endpoint.value}/users/`, {
    mode: 'cors',
    method: 'POST',
    headers: new Headers({
      'Content-Type': 'application/json',
    }),
    body: JSON.stringify({
      email: store.email,
      user: nick.value ?? undefined,
      passwd: password.value,
      strength: strength.value,
    }),
  }).then(out => {
    alerts.remove(id);
    return out;
  });

  if (res.ok) {
    alerts.push({
      color: 'success',
      title: 'User was created',
    });

    await router.push('/login');
    return;
  }

  alerts.push({
    color: 'danger',
    title: 'Connection error',
  });
};
</script>