<template>
    <div class="fixed sm:w-1/3 w-full opacity-70">
        <div>
            <div @click="store.remove(alert.id as string)" :class="['alert', alert.color]" :key="alert.id" v-for="alert in store.alerts">
                <p class="alert-title">{{ alert.title }}</p>
                <p class="alert-description" v-if="alert.description != null">
                    {{ alert.description }}
                </p>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
const store = useAlertStore();
</script>