<template>
    <div class="text" v-if="props.type == 'text/plain'">
        <span
            @mouseover="handleOver"
            @mouseleave="handleLeave"
            id="copy-clip"
            class="copy-clip"
        >
            <icon icon="fa-solid fa-clipboard" />
        </span>
        <textarea
            id="copy-input"
            readonly
            class="code"
            @mouseover="handleOver"
            @mouseleave="handleLeave"
        >{{ getRawContent() }}</textarea>
    </div>
</template>

<script lang="ts" setup>
import ClipboardJS from 'clipboard'

const props = defineProps({
    content: {
        required: true,
        type: ArrayBuffer,
    },
    type: {
        required: false,
        default: 'text/plain',
        type: String,
    }
});
const over = ref(false);
const handleOver = () => over.value = true;
const handleLeave = () => over.value = false;

const getRawContent = () => {
    const decoder = new TextDecoder('utf-8');
    let res =  decoder.decode(props.content);
    if (!over.value) {
        return res.replaceAll(/./g, '*');
    }
    return res;
};

onMounted(() => {
    if (props.type == 'text/plain') {
        new ClipboardJS('#copy-clip', {
            target: () => document.querySelector('#copy-input') as Element,
        })
    }
})
</script>

<style>
div.text {
    position: relative;
}
span.copy-clip {
    position: absolute;
    top: 5px;
    right: 10px;
    @apply transition-all text-gray-400 hover:text-gray-700;
}
</style>