<template>
  <span>
    <NuxtLink class="button button-principal button-mini" :to="`/key/${props.id}/new`">
      <icon icon="fa-solid fa-plus" />
    </NuxtLink>
    {{' '}}
    <NuxtLink class="button button-success button-mini" :to="`/key/${props.id}/share`">
      <icon icon="fa-solid fa-share-nodes" />
    </NuxtLink>
  </span>
  <template v-if="pending">
    <span class="loader h-3 w-3"></span>
  </template>
  <template v-else>
    <ul class="ml-8 md:list-decimal">
      <li class="font-mono" v-for="entry in data?.content">
        <NuxtLink :to="`/key/entry/${entry.id}`">
          <icon class="md:hidden" icon="fa-solid fa-arrow-right" />
          {{ entry.name }}
        </NuxtLink>
      </li>
    </ul>
  </template>
  <div class="mt-5"></div>
</template>

<script setup lang="ts">
const props = defineProps({
  id: {
    required: true,
    type: String,
  }
});

const {pending, data} = useLazyAsyncData(`key-${props.id}`, getResource<StoreKey>(`/store/byKey/${props.id}`));
</script>