<template>
  <Head>
    <Title>Passwd - Home</Title>
  </Head>
  
  <h1 class="title">Welcome again <span class="italic">{{ store.tokenBody?.name }}</span>.</h1>
  <hr>
  <div class="form-item x-space mb-3">
    <NuxtLink class="button button-danger" to="/login/logout">
      <icon icon="fa-solid fa-right-from-bracket" />
    </NuxtLink>
    <NuxtLink class="button button-principal" to="/key/new">
      <icon icon="fa-solid fa-plus" />
    </NuxtLink>
  </div>
  <hr>

  <template v-if="pending">
    <span class="loader h-10 w-10"></span>
  </template>
  <div class="scale-150 mt-12 md:scale-100 md:mt-0" v-else>
    <template v-if="keys?.owned?.length ?? 0 > 0">
      <h2 class="subtitle">
        <icon icon="fa-solid fa-key" />
        Owned keys
      </h2>
      <ul>
        <li v-for="key in keys?.owned" :key="key.id">
          {{ key.name }}
          <KeyList :id="key.id" />
        </li>
      </ul>
    </template>

    <template v-if="keys?.shared?.length ?? 0 > 0">
      <h2 class="subtitle">
        <icon icon="fa-solid fa-share-nodes" />
        Shared keys
      </h2>
      <ul>
        <li v-for="key in keys?.shared" :key="key.id">
          {{ key.name }} ({{ key.owner }})
          <KeyList :id="key.id" />
        </li>
      </ul>
    </template>
  </div>
</template>

<script lang="ts" setup>
const store = useUserStore();

const {pending, data: keys} = useLazyAsyncData('keys', getResource<{owned: KeyEntry[], shared: KeyEntry[]}>('/keys'));
</script>