<template>

  <Head>
    <Title>Passwd - Create Key</Title>
  </Head>

  <h1 class="title">Create new key.</h1>
  <hr>
  <div class="form-item">
    <label for="key-name">
      <icon icon="fa-solid fa-key" />
      Key Name
    </label>
    <input id="key-name" type="text" :placeholder='`Example: "Work"`' v-model="name" />
  </div>
  <div class="form-item">
    <label for="password">
      <icon :icon="['fa-solid', showPassword ? 'fa-eye' : 'fa-eye-slash']" />
      Password
    </label>
    <input id="password" :type="showPassword ? 'text' : 'password'" :placeholder='`Example: "s3cur3_P455w0rd"`'
      v-model="password" @keydown.enter="send" />
  </div>
  <div class="form-item">
    <label for="confirm-password">
      <icon :icon="['fa-solid', (password == passwordConfirm && password != '') ? 'fa-check' : 'fa-xmark']" />
      Confirm password
    </label>
    <input id="confirm-password" :type="showPassword ? 'text' : 'password'" :placeholder='`Example: "s3cur3_P455w0rd"`'
      v-model="passwordConfirm" @keydown.enter="send" />
  </div>
  <div class="form-item">
    <label for="key-strength">
      <icon icon="fa-solid fa-vault" />
      Key strength (Default: <code>0</code>)
    </label>
    <input id="key-strength" type="number" inputmode="decimal" v-model="strength" @keydown.enter="send" />
  </div>
  <div class="form-item check">
    <label>
      <input type="checkbox" v-model="showPassword">
      <span>Show password.</span>
    </label>
  </div>
  <div class="form-item x-space">
    <button @click="send" class="button-principal">
      Send
    </button>
    <a class="button button-danger" @click="router.back()">
      <icon icon="fa-solid fa-chevron-left" />
      Go back
    </a>
  </div>
</template>

<script setup lang="ts">
const store = useUserStore();
const alerts = useAlertStore();
const router = useRouter();

const name = ref<string | null>(null);
const password = ref<string | null>(null);
const passwordConfirm = ref<string | null>(null);
const strength = ref<number | string>(0);
const showPassword = ref(false);

watch([name], () => {
  if (name.value == '') {
    name.value = null;
    return;
  }

  if (name.value != null) {
    let temp = name.value
      .split(' ')
      .map(el => {
        return el.substring(0, 1).toUpperCase() + el.substring(1).toLowerCase();
      })
      .join(' ');

    if (temp != name.value) {
      name.value = temp;
    }
  }
});

watch([password, passwordConfirm], () => {
  if (password.value == '') {
    password.value = null;
  }

  if (passwordConfirm.value == '') {
    passwordConfirm.value = null;
  }
});

watch([strength], () => {
  if (typeof strength.value == 'string') {
    if (strength.value.length > 1 || strength.value.startsWith('0')) {
      strength.value = parseInt(strength.value.replace(/^0/, ''));
    }

    if (strength.value == '') {
      strength.value = 0
    }
  }

  if (strength.value < 0) {
    strength.value = 0
  }

  if (strength.value > 5) {
    strength.value = 5
  }

  strength.value = parseInt(`${strength.value}`);
});

const send = async () => {
  if (name.value == null || password.value == null || passwordConfirm.value == null) {
    alerts.push({
      color: 'warning',
      title: 'Form Incomplete',
      description: 'Please fill all elements of the form.'
    });
    return;
  }

  if (password.value != passwordConfirm.value) {
    alerts.push({
      color: 'warning',
      title: 'Form Not Valid',
      description: 'The passwords fields are not equal, check and try again.'
    });
    return;
  }

  let id = alerts.push({
    color: 'info',
    title: 'Sending information',
  });
  let res = await fetch(`${endpoint.value}/keys/`, {
    mode: 'cors',
    method: 'POST',
    headers: new Headers({
      'Content-Type': 'application/json',
      'JWT-Token': (store.token as string),
    }),
    body: JSON.stringify({
      name: name.value,
      passwd: password.value,
      strength: strength.value,
    }),
  }).then(out => {
    alerts.remove(id);
    return out;
  });

  if (res.ok) {
    alerts.push({
      color: 'success',
      title: 'Key was created',
    });

    await router.push('/');
    return;
  }

  alerts.push({
    color: 'danger',
    title: 'Connection error',
  });
};
</script>