@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        @apply container mx-auto block my-4 p-3 rounded;
        /* Responsive */
        @apply lg:w-1/2 xl:w-1/3 md:shadow-lg;
    }

    .title {
        @apply text-center font-bold text-2xl capitalize mb-2;
    }

    .subtitle {
        @apply text-center font-semibold text-lg capitalize ml-1 mb-2;
    }

    .form-item {
        @apply mt-3;
    }

    .form-item label {
        @apply block text-gray-700 text-sm font-bold mb-2 pl-2;
    }

    .form-item.check label > input[type="checkbox"] {
        @apply mr-2 leading-tight rounded-lg focus:bg-black checked:bg-black;
    }

    .form-item > input, .form-item > textarea {
        @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:border-principal focus:outline-none focus:shadow-md;
    }

    .form-item > textarea {
        @apply overflow-y-auto resize-none hover:resize-y h-[8rem] font-mono;
    }

    button, a.button {
        @apply shadow font-bold py-2 px-4 rounded capitalize;
    }

    .x-space > * {
        @apply mr-2;
    }

    .button-principal {
        @apply bg-principal text-white;
    }

    .button-gray {
        @apply bg-gray-300 text-black;
    }

    .button-danger {
        @apply bg-danger-600 text-white;
    }

    .button-success {
        @apply bg-success-600 text-white;
    }

    .button-mini {
        padding: 0.25rem !important;
        padding-left: 0.45rem !important;
        padding-right: 0.45rem !important;
        font-size: 0.75rem;
    }

    ul {
        @apply list-none md:list-disc pl-4 max-w-[60%] mx-auto;
    }

    span.loader {
        @apply mx-auto my-6 animate-ping block rounded-full bg-principal opacity-75;
    }

    div.alert {
        @apply m-3 p-2 rounded shadow-sm bg-white;
    }

    div.alert > p.alert-title {
        @apply text-lg font-semibold text-left;
    }

    div.alert > p.alert-description {
        @apply text-sm font-light;
    }

    div.alert.danger {
        @apply bg-danger-600 text-white;
    }

    div.alert.warning {
        @apply bg-warning-400 text-black;
    }

    div.alert.success {
        @apply bg-success-400 text-black;
    }

    div.alert.info {
        @apply bg-principal text-white;
    }

    textarea.code {
        @apply my-1 p-1 border border-solid border-gray-400 rounded;
        @apply w-full resize-none overflow-hidden font-mono h-[8rem];
    }
}