<template>

  <Head>
    <Title v-if="pending">Passwd - Create Entry</Title>
    <Title v-else>Passwd - View entry: {{ data?.FileName }}</Title>
  </Head>

  <template v-if="pending">
    <span class="loader h-10 w-10"></span>
  </template>
  <template v-else>
    <h1 class="title">Get content of entry: <code class="normal-case font-light">"{{ data?.FileName }}"</code>.</h1>
    <hr>
    <template v-if="content == null">
      <h2 class="subtitle">Set the password to unlock the content.</h2>
      <div class="form-item">
        <label for="password">
          <icon :icon="['fa-solid', showPassword ? 'fa-eye' : 'fa-eye-slash']" />
          Password
        </label>
        <input id="password" :type="showPassword ? 'text' : 'password'" :placeholder='`Example: "s3cur3_P455w0rd"`'
          @keydown.enter="send" v-model="password" />
      </div>
      <div class="form-item check">
        <label>
          <input type="checkbox" v-model="showPassword">
          <span>Show password.</span>
        </label>
      </div>
      <div class="form-item x-space">
        <button @click="send" class="button-principal">
          Unlock
        </button>
        <a class="button button-danger" @click="router.back()">
          <icon icon="fa-solid fa-chevron-left" />
          Go back
        </a>
      </div>
    </template>
    <template v-else>
      <EntryContent :content="content" :type="data?.ContentType" />
      <div class="form-item">
        <a class="button button-danger" @click="router.back()">
          <icon icon="fa-solid fa-chevron-left" />
          Go back
        </a>
      </div>
    </template>
  </template>
</template>

<script lang="ts" setup>
const store = useUserStore();
const route = useRoute();
const router = useRouter();
const alerts = useAlertStore();

const password = ref<string | null>(null);
const showPassword = ref(false);

const send = async () => {
  showPassword.value = false;
  if (password.value == null) {
    alerts.push({
      color: 'warning',
      title: 'Form Incomplete',
      description: 'Please fill all elements of the form.'
    });
    return;
  }

  let id = alerts.push({
    color: 'info',
    title: 'Sending information',
  });

  let res = await fetch(`${endpoint.value}/store/${route.params.id}`, {
    mode: 'cors',
    method: 'POST',
    headers: new Headers({
      'Content-Type': 'application/json',
      'JWT-Token': (store.token as string),
    }),
    body: JSON.stringify({
      passwd: password.value,
    }),
  }).then(out => {
    alerts.remove(id);
    return out;
  });

  if (!res.ok) {
    alerts.push({
      color: 'danger',
      title: 'Bad credentials',
    });
    return;
  }

  content.value = await res.arrayBuffer();
};

watch([password], () => {
  if (password.value == '') {
    password.value = null;
  }
});

const content = ref<ArrayBuffer | null>(null);

const { pending, data } = useLazyAsyncData(`entry-${route.params.id}`, getResource<StoreHeaders>(`/store/${route.params.id}`));
</script>