<template>

  <Head>
    <Title v-if="pending">Passwd - Create Entry</Title>
    <Title v-else>Passwd - Create Entry for: "{{ data?.name }}"</Title>
  </Head>

  <h1 class="title">Create new Secret.</h1>
  <h2 v-if="!pending" class="subtitle">For key: <code
      class="normal-case font-light">"{{ data?.name }} &lt;{{ data?.owner }}&gt;"</code>.</h2>
  <hr>
  <div class="form-item">
    <label for="secret-name">
      <icon icon="fa-solid fa-key" />
      Secret Name
    </label>
    <input id="secret-name" type="text" :placeholder='`Example: "user@server.io"`' v-model="name" />
  </div>
  <div class="form-item">
    <label for="content">
      <icon icon="fa-solid fa-box" />
      Content
    </label>
    <textarea id="content" :placeholder='`Example: "MyS3cretP455w0rd"`' v-model="content"></textarea>
  </div>
  <div class="form-item x-space">
    <button @click="send" class="button-principal">
      Send
    </button>
    <a class="button button-danger" @click="router.back()">
      <icon icon="fa-solid fa-chevron-left" />
      Go back
    </a>
  </div>
</template>

<script setup lang="ts">
const store = useUserStore();
const route = useRoute();
const router = useRouter();
const alerts = useAlertStore();

const name = ref<string | null>(null);
const content = ref<string>('');

watch([name], () => {
  if (name.value == '') {
    name.value = null;
  }
});

const send = async () => {
  if (name.value == null || content.value == '') {
    alerts.push({
      color: 'warning',
      title: 'Form Incomplete',
      description: 'Please fill all elements of the form.'
    });
    return;
  }

  let id = alerts.push({
    color: 'info',
    title: 'Sending information',
  });

  let res = await fetch(`${endpoint.value}/store`, {
    mode: 'cors',
    method: 'PUT',
    headers: new Headers({
      'Content-Type': 'application/json',
      'JWT-Token': (store.token as string),
    }),
    body: JSON.stringify({
      name: name.value,
      content: content.value,
      key: route.params.id,
    }),
  }).then(out => {
    alerts.remove(id);
    return out;
  });

  if (res.ok) {
    alerts.push({
      color: 'success',
      title: 'Secret created',
    });

    await router.push('/');
    return;
  }

  alerts.push({
    color: 'danger',
    title: 'Connection error',
  });
};

const { pending, data } = useLazyAsyncData(`key-${route.params.id}`, getResource<StoreKey>(`/store/byKey/${route.params.id}`));
</script>