<template>

  <Head>
    <Title v-if="pending">Passwd - Create Entry</Title>
    <Title v-else>Passwd - Share key: "{{ data?.name }}"</Title>
  </Head>

  <template v-if="pending">
    <span class="loader h-10 w-10"></span>
  </template>
  <template v-else>
    <h1 class="title">Share key: <code
        class="normal-case font-light">"{{ data?.name }} &lt;{{ data?.owner }}&gt;"</code>.</h1>
    <hr>
    <div class="form-item">
      <label for="target-user">
        <icon icon="fa-solid fa-user" />
        Target user
      </label>
      <input id="target-user" type="email" inputmode="email" :placeholder='`Example: "user@email.com"`' v-model="email" />
    </div>
    <div v-if="user != null">
      <b>User:</b> <code>{{ user }}</code>
    </div>
    <div class="form-item">
      <label for="password">
        <icon :icon="['fa-solid', showPassword ? 'fa-eye' : 'fa-eye-slash']" />
        Password
      </label>
      <input id="password" :type="showPassword ? 'text' : 'password'" :placeholder='`Example: "s3cur3_P455w0rd"`'
        @keydown.enter="send" v-model="password" />
    </div>
    <div class="form-item check">
      <label>
        <input type="checkbox" v-model="showPassword">
        <span>Show password.</span>
      </label>
    </div>
    <div class="form-item x-space">
      <button @click="send" class="button-principal">
        Send
      </button>
      <a class="button button-danger" @click="router.back()">
        <icon icon="fa-solid fa-chevron-left" />
        Go back
      </a>
    </div>
  </template>
</template>

<script setup lang="ts">
const store = useUserStore();
const route = useRoute();
const router = useRouter();
const alerts = useAlertStore();

const email = ref<string | null>(null);
const password = ref<string | null>(null);
const user = ref<string | null>(null);
const showPassword = ref(false);

const send = async () => {
  if (email.value == null || password.value == null) {
    alerts.push({
      color: 'warning',
      title: 'Form Incomplete',
      description: 'Please fill all elements of the form.'
    });
    return;
  } else if (email.value == store.email) {
    alerts.push({
      color: 'warning',
      title: 'Not valid user',
      description: 'You cant share the key with yourself.'
    });
    return;
  }

  if (user.value == null) {
    alerts.push({
      color: 'danger',
      title: 'User was not found',
    });
    return;
  }

  let id = alerts.push({
    color: 'info',
    title: 'Sending information',
  });

  let res = await fetch(`${endpoint.value}/store`, {
    mode: 'cors',
    method: 'PUT',
    headers: new Headers({
      'Content-Type': 'application/json',
      'JWT-Token': (store.token as string),
    }),
    body: JSON.stringify({
      to: email.value,
      key: route.params.id,
    }),
  });

  if (!res.ok) {
    alerts.push({
      color: 'danger',
      title: 'Bad credentials',
    });
    return;
  }

  res = await fetch(`${endpoint.value}/store`, {
    mode: 'cors',
    method: 'PUT',
    headers: new Headers({
      'Content-Type': 'application/json',
      'JWT-Token': (store.token as string),
    }),
    body: JSON.stringify({
      to: email.value,
      key: route.params.id,
    }),
  }).then(out => {
    alerts.remove(id);
    return out;
  });

  if (res.ok) {
    alerts.push({
      color: 'success',
      title: 'Secret created',
    });

    await router.push('/');
    return;
  }

  alerts.push({
    color: 'danger',
    title: 'Connection error',
  });
};

watch([password], () => {
  if (password.value == '') { 
    password.value = null;
  }
});

watch([email], async () => {
  if (email.value == '') {
    email.value = null;
  }

  if (/[a-z0-9\.\-\_]+@[a-z0-9\-\_]+\.[a-z]{2,4}(\.[a-z]{2,4})?/i.test(email.value ?? '') && email.value != store.email) {
    let res = await fetch(`${endpoint.value}/users/exists/${email.value}`, { mode: 'cors', method: 'GET' });
    if (res.ok) {
      user.value = ((await res.json()) as ApiResponse<string>).body;
    } else {
      user.value = null;
    }
  } else {
    user.value = null;
  }
});

const { pending, data } = useLazyAsyncData(`key-${route.params.id}`, getResource<StoreKey>(`/store/byKey/${route.params.id}`));
</script>